{
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "no-unused-vars": 0,
    "no-console": 0,
    "indent": [
      2,
      4,
      {"SwitchCase": 1}
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ]
  },
  "globals": {
    "it": true,
    "describe": true,
    "before": true,
    "after": true
  },
  "env": {
    "es6": true,
    "node": false,
    "mocha": true,
    "browser": true
  },
  "extends": "eslint:recommended"
}
