body, html {
    width: 100%;
    height: 100%;
}

app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

login-route, registration-route {
    flex: 0 1 500px;
    align-self: center;
    margin-top: -20rem;
}

todo-list-route {
    width: 100%;
}

todo-list {
    display: flex;
    width: 100%;
    flex-direction: row;
}

todo {
    flex: 0 1 300px;
    background: silver;
    padding: 1rem;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

todo h2 {
    margin: 0;
}